#define DEFAULT 0
#define NUM     1
#define SYM     2
#define FUN     3
#define MOUSE   4
#define SCROLL  5
#define SNIPE   6

#include <behaviors/mouse_keys.dtsi>
#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&lt {
    tapping-term-ms = <240>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

&mt {
    tapping-term-ms = <200>;
    flavor = "tap-preferred";
    quick-tap-ms = <150>;
};

&caps_word { continue-list = <UNDERSCORE MINUS>; };

/ {
    // custom shift using mod-morph 

    behaviors {
        cmqus: comma_question {
            compatible = "zmk,behavior-mod-morph";
            label = "COMMA_QUESTION";
            #binding-cells = <0>;
            bindings = <&kp COMMA>, <&kp QUESTION>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        dtsmi: dot_semi {
            compatible = "zmk,behavior-mod-morph";
            label = "DOT_SEMI";
            #binding-cells = <0>;
            bindings = <&kp DOT>, <&kp SEMI>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };

    macros {
        Hiragana: Hiragana {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(SPACE)>;
            label = "HIRAGANA";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "QWRT";
            bindings = <
&kp Q      &kp W         &kp E     &kp R           &kp T                                         &kp Y        &kp U  &kp I      &kp O    &kp P
&kp A      &kp S         &kp D     &kp F           &kp G                                         &kp H        &kp J  &kp K      &kp L    &kp TAB
&kp Z      &kp X         &kp C     &kp V           &kp B                                         &kp N        &kp M  &kp COMMA  &kp DOT  &lt 4 LS(SLASH)
&lt 7 TAB  &kp LEFT_WIN  &kp LALT  &kp LEFT_SHIFT  &lt 1 BACKSPACE  &kp LEFT_CONTROL  &kp ENTER  &lt 2 SPACE                             &kp LA(GRAVE)
            >;
        };

        number_layer {
            label = "NUM";
            bindings = <
&mo 3      &kp F2                 &none                     &kp F4         &kp PERCENT                            &kp RS(RIGHT_CONTROL)  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp KP_MINUS
&kp TAB    &kp LEFT_ARROW         &kp UP_ARROW              &kp RIGHT      &mt LS(N9) LS(N8)                      &kp RIGHT_CONTROL      &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp KP_PLUS
&kp SPACE  &kp PAGE_UP            &kp DOWN_ARROW            &kp PAGE_DOWN  &none                                  &kp RIGHT_SHIFT        &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp KP_ASTERISK
&trans     &kp LS(LC(LESS_THAN))  &kp LS(LC(GREATER_THAN))  &kp ESCAPE     &trans             &trans  &kp RETURN  &kp N0                                                           &kp KP_DIVIDE
            >;
        };

        symbol_layer {
            label = "SYM";
            bindings = <
&kp EXCLAMATION  &kp AT_SIGN   &kp HASH      &kp DOLLAR    &kp PERCENT                             &kp CARET       &kp AMPERSAND   &kp ASTERISK      &kp LEFT_PARENTHESIS  &kp MINUS
&bt BT_CLR       &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &kp LEFT_SHIFT                          &kp UNDERSCORE  &kp EQUAL       &kp LEFT_BRACKET  &kp RIGHT_BRACKET     &kp BACKSLASH
&trans           &trans        &trans        &trans        &trans                                  &kp UNDER       &kp UNDERSCORE  &trans            &trans                &mt PIPE PIPE2
&trans           &trans        &trans        &trans        &trans          &kp LEFT_SHIFT  &trans  &trans                                                                  &trans
            >;
        };

        function_layer {
            label = "FUN";
            bindings = <
&kp F1  &kp F2   &kp F3   &kp F4   &kp LEFT_SHIFT                  &none   &kp F7  &kp F8  &kp F9  &kp F10
&kp F5  &kp F6   &kp F7   &kp F8   &trans                          &none   &kp F4  &kp F5  &kp F6  &kp F11
&kp F9  &kp F10  &kp F11  &kp F12  &kp LALT                        &none   &none   &kp F2  &kp F3  &kp F12
&trans  &trans   &trans   &trans   &trans          &trans  &trans  &trans                          &trans
            >;
        };

        mouse_layer {
            label = "MOUSE";
            bindings = <
&mo 5           &none           &kp LS(LEFT_CONTROL)  &kp LEFT_SHIFT  &kp LEFT_CONTROL                  &kp N6         &kp N7     &kp N8          &kp N9     &kp N0
&mmv MOVE_UP    &kp LEFT_ARROW  &kp UP_ARROW          &kp RIGHT       &mmv MOVE_RIGHT                   &kp PAGE_UP    &mkp LCLK  &msc SCRL_UP    &mkp RCLK  &mkp MCLK
&mmv MOVE_DOWN  &none           &kp DOWN              &none           &mmv MOVE_LEFT                    &kp PAGE_DOWN  &mkp MB4   &msc SCRL_DOWN  &mkp MB5   &none
&none           &trans          &trans                &trans          &trans            &trans  &trans  &mo 3                                                &none
            >;
        };

        scroll_layer {
            label = "SCROLL";
            bindings = <
&trans  &trans  &trans  &trans  &kp LEFT_CONTROL                  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans                            &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans                            &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans            &trans  &trans  &trans                          &trans
            >;
        };

        snipe_layer {
            label = "SNIPE";
            bindings = <
&trans  &trans  &trans  &trans  &bootloader                  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans                       &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans                       &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans       &trans  &trans  &trans                          &trans
            >;
        };

        adjustment {
            bindings = <
&trans  &trans           &trans  &kp RA(F4)     &kp LC(LEFT_SHIFT)                       &trans  &trans       &trans    &trans         &trans
&trans  &kp PRINTSCREEN  &trans  &trans         &kp LEFT_CONTROL                         &trans  &kp LEFT     &kp UP    &kp RIGHT      &kp TAB
&trans  &trans           &trans  &kp LS(LC(V))  &kp LEFT_SHIFT                           &trans  &kp PAGE_UP  &kp DOWN  &kp PAGE_DOWN  &trans
&trans  &trans           &trans  &trans         &kp DELETE          &mo 4  &kp LEFT_ALT  &trans                                        &trans
            >;

            label = "adj";
        };
    };
};
